@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #0070f3;
	--background-color: #fafafa;
	--text-color: #333333;
	--border-color: #eaeaea;
}

body {
	margin: 0;
	font-family: Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}

/* .container {
	max-width: 36rem;
	padding: 0 1rem;
	margin: 3rem auto;
} */

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
